__pycache__/
.ipynb_checkpoints/
cache/
.env
env/
.gradio/
*.pth
datasets/
checkpoints/
wandb/

# Any local custom files
local_playground/

# optional extra ignores for local tokenizer assets
tokenizer.model
*.tiktoken
tea_debug.log
